body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 56px;
    font-family: 'Cantata One', serif;
    margin: 0;
    line-height: 42px;
}
h2 {
    font-size: 48px;
    text-transform: uppercase;
    color: #000000;
}
h3 {
    font-size: 34px;

}
h4 {
    font-size: 20px;
    margin: 0;
}
p {
    color: #000000;
    text-align: justify;
}
img {
    width: 100%;
    height: auto;
}
.header-section {
    padding: 80px 0;
    background-color: rgba(0, 0, 0, 0.082);
}
.container {
    width: 80%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
}
.col-2 {
    width: 45%;
}
.col-2:first-child {
    margin-right: 5%;
}
.col-2:last-child {
    margin-left: 5%;
}
.header-section .main-heading {
    border-left: 4px solid #723A78;
    padding-left: 5px;
    margin-bottom: 35px;
}
.header-section h1:first-child {
    padding-bottom: 40px;
}
.header-section .text-area {
    padding-top: 50px;
}
.link-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #723A78;
    padding: 10px 30px;
    margin: 10px 0;
    border: 3px solid #723A78;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
}
.link-btn:hover {
    background-color: transparent;
    color: #723A78;
}
.purpled-color {
    color: #FC4AC1;
}

/* my-mission-section starts */

.my-mission-section {
    padding-bottom: 80px;
}
.my-mission-section .mission-title {
    text-align: center;
}
.my-mission-section .img-size {
    width: 150px;
}
.col-3 {
    width: 32%;
}
.col-3:nth-child(2) {
    margin: 0 2%;
}
.my-mission-section .col-3 {
    padding: 12px 30px;
    border-radius: 15px;
}
.mission-color {
    background-color: #fc4ac12a;
}
.vision-color {
    background-color: #723a7828;
}
.goals-color {
    background-color: #f088d154;
}

/* develop-section starts */

.develop-section {
    background-color: rgba(0, 0, 0, 0.082);
    padding: 80px 0;
}
.col-md-2 {
    width: 38%;
}
.col-lg-2 {
    width: 62%;
}
.develop-section .col-lg-2 {
    padding-left: 60px;
}

/* our-community-section stats */

.our-community-section {
    padding: 80px 0;
}
.our-community-section .col-lg-2 {
    padding-right: 60px;
}

/* activity-section starts */

.activity-section {
    padding: 80px 0;
    background-color: rgba(0, 0, 0, 0.082);
}

.activity-section h3 {
    text-align: center;
}
.activity-section h4 {
    font-size: 18px;
    padding: 0 15px;
}
.activity-section h3+p {
    border-bottom: 1px solid #0000005e;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.activity-section .activity p {
    font-size: 14px;
    padding: 0 15px;
}
.activity-section a {
    text-decoration: none;
    color: #000000;
}
.activity-section .activity {
    width: 48%;
}
.activity-section .activity:first-child {
    margin-right: 4%;
}
.activity-section .col-2 {
    width: 47%;
    margin: 0;
}
.activity-section .col-2:first-child {
    padding-right: 6%;
}
.activity-section .activity-title {
    text-align: center;
    border-bottom: 1px solid #00000028;
    padding-bottom: 10px;
    margin: 15px 0;
}
.activity-section .blog {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 6px;
    transition: 0.3s;
}
.activity-section .blog:hover {
    transform: translateY(-10px);
}
.activity-section .blog img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.service {
    position: relative;
    margin-bottom: 20px;
    transition: 0.3s;
}
.service:hover {
    transform: translateY(-10px);
}
.service img {
    color: rgba(0, 0, 0, 0.219);
}
.service h5 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.ser-title {
    position: absolute;
    top: 5%;
    left: 3%;
    color: white;
}

/* footer-section starts */

.footer-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.footer-section h3 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
}
.footer-section p {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.footer-section .blue-color {
    color: #d313e9;
}